.quick-transfer-modal-container {
  > .from-to-label-container {
    margin: 64px 0;
  }
  > h5 {
    margin-top: 96px;
  }
  > .controls-group:last-child {
    margin-bottom: 64px;
  }

  .modal-info {
    margin: 16px 0 16px 0;
    font-size: 16px;
    color: #61686b;
    font-weight: 400;
  }

  h4.bp3-heading {
    margin-top: 64px;
  }

  .cf-helper {
    color: #61686b;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 300;
  }

  .totals {
    float: right;
    color: #00d3b8;
    font-weight: 300;
  }

  .controls-group {
    display: flex;
    width: 100%;
    .bp3-input-group {
      width: 60%;
      font-size: 14px;
    }
    .bp3-tabs {
      flex: 1;
      .bp3-tab {
        font-size: 14px !important;
      }
    }
    &:last-child {
      margin-bottom: 64px;
    }
  }
}
