.market-container {
  width: 100%;
  .slider-wrap {
    overflow: hidden;
    height: 118px;
    width: 100%;
    position: relative;
    padding-bottom: 8px;
    .bscroll-horizontal-scrollbar {
      height: 4px !important;
      z-index: 9 !important;
      .bscroll-indicator {
        border: none !important;
        background: rgba(125, 125, 125, 0.5) !important;
      }
    }
    .swiper-scroll {
      white-space: nowrap;
      height: 100%;
    }
    .market-card {
      position: relative;
      display: inline-block;
      width: 196px;
      height: 100%;
      margin: 0 5px;
      border: 1px solid #080808;
      cursor: pointer;
      &:hover {
        border-color: rgba(76, 140, 184, 0.5);
        border-radius: 4px;
      }
      .card-info {
        position: relative;
        z-index: 2;
        padding: 18px 0px 0px 25px;
        h1 {
          color: #ffffff;
          font-size: 16px;
        }
        p {
          padding-top: 2px;
          font-size: 12px;
          padding-bottom: 20px;
        }
        span {
          margin-top: 20px;
          font-weight: 400;
          font-size: 20px;
        }
        &.up {
          p {
            color: #00d3b8;
          }
        }
        &.down {
          p {
            color: #ff2366;
          }
        }
        .volume-info {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
      .chart {
        opacity: 0.5;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 60%;
      }
    }
    .current-market {
      border-color: rgba(76, 140, 184, 0.5);
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.1);
    }
  }
  .slider-wrap-short {
    overflow: hidden;
    height: 76px;
    width: 100%;
    position: relative;
    padding-bottom: 8px;
    .bscroll-horizontal-scrollbar {
      height: 4px !important;
      z-index: 9 !important;
      .bscroll-indicator {
        border: none !important;
        background: rgba(125, 125, 125, 0.5) !important;
      }
    }
    .swiper-scroll {
      white-space: nowrap;
      height: 100%;
    }
    .market-card-short {
      position: relative;
      display: inline-block;
      width: 196px;
      height: 76px;
      margin: 0 5px;
      border: 1px solid #080808;
      cursor: pointer;
      &:hover {
        border-color: rgba(76, 140, 184, 0.5);
        border-radius: 4px;
      }
      .card-info {
        position: relative;
        z-index: 2;
        padding: 18px 0px 0px 25px;
        h1 {
          color: #ffffff;
          font-size: 16px;
          margin-bottom: 5px;
        }
        p {
          padding-top: 2px;
          font-size: 12px;
          padding-bottom: 20px;
        }
        span {
          margin-top: 20px;
          font-weight: 400;
          font-size: 20px;
        }
        &.up {
          p {
            color: #00d3b8;
          }
        }
        &.down {
          p {
            color: #ff2366;
          }
        }
      }
      .chart {
        opacity: 0.5;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 60%;
      }
    }
  }
  .thumbnail {
    background-color: #19191a;
    width: 38px;
    cursor: pointer;
    margin: 5px 10px;
    margin-right: 0;
    border-radius: 6px;
    .anticon {
      margin-left: 30%;
    }
  }
  &.market-container-mobile {
    padding: 15px;
    padding-right: 0;
    height: 80px;
    .market-card {
      position: relative;
      display: inline-block;
      flex: 1;
      height: 100%;
      border: 1px solid rgba(76, 140, 184, 0.5);
      border-radius: 4px;
      transition: all 0.2s;
      .card-info {
        position: relative;
        z-index: 2;
        height: 100%;
        padding: 0 15px;
        display: flex;
        h1 {
          color: #ffffff;
          font-size: 16px;
        }
        p {
          padding-top: 2px;
          font-size: 12px;
        }
        span {
          font-weight: 400;
          font-size: 20px;
        }
        &.up {
          p {
            color: #00d3b8;
          }
        }
        &.down {
          p {
            color: #ff2366;
          }
        }
        .volume-info {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
      .chart {
        opacity: 0.5;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 60%;
      }
    }
    .more {
      font-size: 26px;
      color: #ffffff;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      padding: 0 10px;
      border: none;
      i {
        line-height: 50px;
      }
    }
  }
}

.marketList {
  .am-modal-content {
    background-color: #191919;
  }
  .am-modal-header {
    position: relative;
    z-index: 1000;
    .modal-head {
      position: relative;
      height: 60px;
      line-height: 60px;
      color: #ffffff;
      font-size: 18px;
      .ant-btn-link {
        font-size: 30px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        color: #ffffff;
        i {
          line-height: 60px;
        }
      }
    }
  }
  .am-modal-body {
    position: relative;
    padding-top: 91px;
    padding-bottom: 10px;
    margin-top: -81px;
  }
  .market-list-scroll {
    height: 100%;
    overflow: scroll;
    .market-list-wrapper {
      padding: 0 15px;
      .market-card {
        position: relative;
        display: block;
        height: 50px;
        margin-bottom: 15px;
        border-radius: 4px;
        transition: all 0.2s;
        cursor: pointer;
        .card-info {
          position: relative;
          z-index: 2;
          height: 100%;
          padding: 0 15px;
          text-align: left;
          opacity: 0.6;
          h1 {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
          }
          p {
            font-size: 12px;
          }
          span {
            font-weight: 400;
            font-size: 20px;
            color: #ffffff;
          }
          &.up {
            p {
              color: #00d3b8;
            }
          }
          &.down {
            p {
              color: #ff2366;
            }
          }
        }
        .chart {
          opacity: 0.5;
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          height: 60%;
        }
        &.current-market {
          border: 1px solid rgba(76, 140, 184, 0.5);
          background-color: rgba(255, 255, 255, 0.1);
          .card-info {
            opacity: 1;
          }
        }
      }
    }
  }
}
