.title {
  font-weight: 700;
}

.toast-dashboard {
  .bp3-toast {
    width: 100%;
    max-width: 1400px;
    height: 48px;
  }

  .bp3-toast.bp3-intent-success {
    background-color: #00d3b8;
  }
  .bp3-toast.bp3-intent-danger {
    background-color: #ff2a67;
  }

  .bp3-button-group {
    height: 48px;

    .bp3-button {
      margin: 0;
      padding: 0;
      outline: none;

      &:hover,
      &:active,
      &:focus {
        background-color: inherit !important;
      }
    }
  }

  .bp3-icon {
    svg {
      width: 18px;
      height: 18px;
    }

    margin: -10px 0 0 0 !important;
  }
}
