@import "../../../style";

.deposit-withdrawal-history {
  position: relative;

  .deposit-withdrawal-history-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

    .last-items {
      display: flex;
      .last-item {
        margin-bottom: 20px;
        margin-right: 54px;

        .title {
          color: $pt-dark-text-color;
          margin-bottom: 12px;
          font-weight: 500;

          .date-time {
            margin-left: 4px;
            color: $pt-dark-text-color-muted5;
          }
        }

        .value {
          font-size: 28px;
          color: $pt-dark-text-color-muted;

          .currency {
            margin-left: 7px;
            color: $pt-dark-text-color-muted2;
            font-weight: 200;
          }
        }
      }
    }

    .download-csv-link {
      color: $pt-dark-text-color;
      height: 32px;
      margin-top: -2px;
      line-height: 32px;
      display: flex;
      align-items: center;

      svg {
        margin-left: 8px;
      }

      &:hover {
        color: $dark-tab-color-selected;

        svg * {
          fill: $dark-tab-color-selected;
        }
      }
    }
  }

  .deposit-withdrawal-history-filter {
    margin-bottom: 20px;

    .filter-title {
      margin-bottom: 5px;
    }

    > .filter-content {
      display: flex;

      > * {
        &:first-child {
          margin-right: 16px;
        }
      }

      .controls-group > .bp3-tabs > .bp3-tab-list > .bp3-tab {
        min-width: 112px;
        font-size: 12px;
      }
    }
  }

  .coin-dropper-button {
    min-width: 112px;
    box-shadow: none;

    &:not([class*="bp3-intent-"]) {
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }

    .bp3-button-text {
      font-size: 12px;
    }
  }

  .no-data {
    color: $pt-dark-text-color-muted;
  }

  .expand-button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    color: #333333;
    line-height: normal;
    display: inline-block;
    position: relative;

    .bp3-icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 24px;
      height: 24px;
      color: rgba(255, 255, 255, 0.2);
    }

    &:hover {
      .bp3-icon {
        color: $dark-tab-color-selected;
      }
    }
  }

  .history-table {
    width: 100%;

    th {
      font-weight: 700;
      line-height: 14px;

      &.sortable {
        cursor: pointer;

        .sort-icon {
          margin-left: 5px;
        }

        &:hover {
          text-decoration: underline;
          color: $dark-tab-color-selected;

          .sort-icon {
            color: $pt-intent-primary;
          }
        }
      }
    }

    td {
      font-weight: 400;
    }

    td.amount {
      &.deposit {
        color: rgb(0, 211, 184);
      }

      &.withdrawal {
        color: rgb(255, 35, 102);
      }
    }

    .status {
      .new {
        color: $new-color;
      }

      .accepted {
        color: $pt-intent-primary;
      }

      .rejected {
        color: $pt-intent-danger;
      }

      .processed {
        color: $pt-dark-text-color-muted;
      }

      .confirmed {
        color: $green3;
      }

      .locked {
        color: $red5;
      }
    }

    td.description {
      color: $pt-dark-text-color-muted5;
    }

    th.date-time {
      .time {
        color: rgba(135, 155, 166, 0.298) !important;
      }
    }

    td.date-time {
      .time {
        color: rgba(204, 204, 204, 0.3);
      }
    }

    td.address {
      color: $gray4;

      > * {
        display: block;
      }

      .transaction-id-title {
        display: block;
        margin-top: 5px;
        color: rgb(135, 155, 166);
      }

      .address-value,
      .transaction-value {
        width: 100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $gray4;
      }

      a:hover {
        color: $white;

        .transaction-value {
          color: $white;
        }
      }
    }

    .actions {
      text-align: right;
      width: 55px;
    }

    th.actions {
      text-align: left;
      padding-left: 0;
    }

    td.actions {
      padding: 6px 16px 0 0;
    }

    tr.expanded {
      td.address {
        .address-value,
        .transaction-value {
          overflow: visible;
          word-wrap: break-word;
        }
      }
    }
  }

  @media (max-width: 1366px) {
    .history-table {
      th,
      td {
        padding-left: 3px;
        padding-right: 3px;
      }
    }
  }

  .table-expand-button {
    position: absolute;
    bottom: -38px;
    left: 50%;
    margin-left: -16px;
  }
}
