.authentication-page-wrapper {
  background: #1f282d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bp3-navbar {
    position: absolute;
    top: 0;
  }

  .cf-login {
    width: 480px;

    h2 {
      color: white;
    }

    .email-form-group,
    .two-factor-form-group {
      margin-top: 32px;
    }
    .password-form-group {
      margin-top: 16px;
    }

    .bp3-form-helper-text {
      color: #f59a23;
    }

    .hide .bp3-form-helper-text {
      visibility: hidden;
    }

    .control-label {
      margin-top: 16px;
    }
    .controls-group {
      display: flex;
      .bp3-tabs {
        flex: 1;
        padding-left: 0;
        .bp3-tab {
          flex: 1;
          height: 72px;
          .titles {
            display: flex;
            flex-direction: column;
            text-align: center;
            .launch-title {
              flex: 1;
              color: white;
              line-height: 18px;
              margin-top: 18px;
            }
            .launch-subtitle {
              flex: 1;
              color: rgba(135, 155, 166, 0.3);
              line-height: 18px;
            }
          }
        }
      }
    }
    button[type="submit"] {
      margin-top: 48px;
      padding: 16px 0;
      &.two-factor-submit {
        margin-top: 32px;
      }
    }
    .login-page-links {
      display: flex;
      margin-top: 16px;
      .missing-account {
        flex: 1;
        &:last-child {
          text-align: right;
        }
      }
      > button > span.arrow-left {
        margin: 0 auto;
      }
    }
  }

  .footer-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(45, 53, 58, 1);
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .authentication-page-wrapper {
    .cf-login {
      width: 100%;
    }
    .footer-wrapper {
      display: none;
    }
  }
}

@media screen and (max-width: 1280px) {
  .authentication-page-wrapper {
    .cf-login {
      margin-top: 54px;
    }
    .footer-wrapper {
      display: none;
    }
  }
}
