@import "../../../style";

.items-dropper-popover {
  width: 464px;
  max-height: 323px;
  overflow: auto;
}

.items-dropper-item {
  height: 46px;
  line-height: 46px;
  border: 1px solid $dark-border-color;
  padding: 0 14px;
  cursor: pointer;

  &:hover {
    border-color: $input-border-color-active;
  }
}

.items-dropper-button {
  display: inline;
  position: relative;

  .bp3-icon {
    position: absolute;
    right: 14px;
  }
}

.bp3-dark {
  .items-dropper-button {
    &.bp3-button:not([class*="bp3-intent-"]) .bp3-icon {
      color: $pt-dark-text-color;
    }
  }
}
