.trade-ticket {
  position: relative;
  background: #19191a;
  height: 100%;
  color: #ffffff;

  .header {
    position: relative;
    z-index: 3;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    background: #262626;
    font-size: 18px;
    color: #ffffff;
    box-shadow: 0 0 5px 5px rgba(25, 25, 26, 0.5);
  }

  .ticket-form {
    width: 100%;
    height: 100%;

    .fix-content {
      margin-top: -48px;
      padding-bottom: 150px;
      padding-top: 48px;
      height: 100%;
      flex: 1;
    }

    .scroll-wrapper {
      height: 100%;
      overflow: hidden;

      .container {
        .input-group {
          padding: 16px;

          .input-wrapper {
            //margin-bottom: 16px;
            .input-title {
              font-size: 14px;
              font-weight: 400;
              color: #81afb2;
            }

            .counter-total {
              font-size: 12px;
              color: rgba(255, 255, 255, 0.3);
            }

            .base-total {
              font-size: 16px;
              background: none;
              border-radius: 0;
              border: none;
              color: #ffffff;
            }

            .placeholder {
              margin-top: 5px;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.3);
            }

            .ant-input-group {
              border-bottom: 1px solid #b9b9b9;
            }

            .ant-input {
              font-size: 16px;
              background: none;
              border-radius: 0;
              border: none;
              color: #ffffff;
              padding-left: 0;

              &:focus {
                box-shadow: none;
              }
            }

            .ant-input-group-addon {
              padding: 0;
              border-radius: 0;
              background: none;
              border: none;

              .away {
                color: rgba(255, 255, 255, 0.3);
              }

              .trade-coin-radio {
                .ant-radio-button-wrapper {
                  cursor: default;
                  height: 20px;
                  line-height: 20px;
                  font-size: 12px;
                  border-radius: 0;
                  padding: 0;
                  width: 62px;
                  background: #222729;
                  color: #4e5254;
                  border: none;
                  box-shadow: none;
                  margin-left: 1px;
                  outline: none;

                  &:before {
                    background: none !important;
                  }

                  &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                    background: #283034;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }

        .am-tabs {
          overflow: visible;
        }

        .am-tabs-default-bar-top {
          &.am-tabs-default-bar {
            overflow: visible;
          }

          .am-tabs-default-bar-tab {
            border-bottom: none;
            cursor: pointer;

            &:after {
              position: absolute;
              bottom: 0;
              content: " ";
              display: block;
              width: 100%;
              height: 2px;
            }

            &:first-child::after {
              background: -webkit-linear-gradient(
                left,
                rgba(59, 59, 59, 0),
                20%,
                rgba(59, 59, 59, 1)
              );
              background: -o-linear-gradient(
                right,
                rgba(59, 59, 59, 0),
                20%,
                rgba(59, 59, 59, 1)
              );
              background: -moz-linear-gradient(
                right,
                rgba(59, 59, 59, 0),
                20%,
                rgba(59, 59, 59, 1)
              );
              background: linear-gradient(
                to right,
                rgba(59, 59, 59, 0),
                20%,
                rgba(59, 59, 59, 1)
              );
            }

            &:nth-child(2)::after {
              background: -webkit-linear-gradient(
                left,
                rgba(59, 59, 59, 1),
                80%,
                rgba(59, 59, 59, 0)
              );
              background: -o-linear-gradient(
                right,
                rgba(59, 59, 59, 1),
                80%,
                rgba(59, 59, 59, 0)
              );
              background: -moz-linear-gradient(
                right,
                rgba(59, 59, 59, 1),
                80%,
                rgba(59, 59, 59, 0)
              );
              background: linear-gradient(
                to right,
                rgba(59, 59, 59, 1),
                80%,
                rgba(59, 59, 59, 0)
              );
            }
          }
        }

        .trade-type-radio {
          display: flex;
          width: 100%;
          padding: 16px;
          justify-content: center;

          .ant-radio-button-wrapper {
            width: 50%;
            height: 48px;
            line-height: 48px;
            border-radius: 0;
            background: #283034;
            color: #ffffff;
            border: none;
            box-shadow: none;
            font-weight: 400;
            outline: none;

            &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
              box-shadow: none;

              &::before {
                opacity: 0;
              }

              &:first-child {
                background: #00d3b8;
              }

              &:last-child {
                background: #ff2366;
              }
            }

            .ant-radio-button + span {
              display: flex;
              justify-content: space-between;

              .price {
                font-size: 19px;
              }

              .type {
                font-size: 12px;
                opacity: 0.8;
              }
            }
          }
        }

        .leverage {
          position: relative;
          margin: 0 16px;
          margin-bottom: 16px;

          .title {
            font-size: 14px;
            font-weight: 400;
            color: #81afb2;
          }

          .currentLeverage {
            position: relative;
            margin: 0 16px;

            .currentLeverageNumber {
              position: absolute;
              transform: translateX(-50%);
              text-align: center;
              top: -58px;

              &:before {
                height: 25px;
                width: 1px;
                position: absolute;
                top: 32px;
                left: 50%;
                background: #00ffff;
                content: " ";
                display: block;
              }

              label {
                font-weight: 400;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.6);
              }
            }
          }

          .leverageText {
            position: relative;
            z-index: 5;
            height: 20px;
            margin: 0 16px;
          }

          #leverageText {
            position: absolute;
            display: inline-block;
            width: 50px;
            text-align: center;
            margin-left: -25px;
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            background: #19191a;

            label {
              font-weight: 400;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.6);
              text-align: center;
            }
          }

          .am-slider-wrapper {
            margin-top: 50px;
            padding: 0 16px;
            height: 16px;
          }

          .am-slider-rail {
            height: 4px;
            width: calc(100% + 32px);
            margin-left: -16px;
            border-radius: 2px;
            background: -webkit-linear-gradient(left, #00ffff, 50%, #ff2366);
            background: -o-linear-gradient(right, #00ffff, 50%, #ff2366);
            background: -moz-linear-gradient(right, #00ffff, 50%, #ff2366);
            background: linear-gradient(to right, #00ffff, 50%, #ff2366);
            opacity: 0.7;
          }

          .am-slider-handle {
            border: none;
            width: 32px;
            height: 6px;
            border-radius: 3px;
            margin-top: -1px;
            margin-left: -16px;

            &:focus {
              background-color: #ffffff;
            }
          }

          .am-slider-track {
            background: none;
          }
        }

        .pnl {
          padding: 16px;
          border-top: 1px solid #263239;
          border-bottom: 1px solid #263239;
          margin-top: -1px;

          .title {
            .text {
              line-height: 18px;
              font-size: 14px;
              font-weight: 400;
              color: #5e5e5e;

              &.open {
                color: #81afb2;
              }
            }

            .am-switch .checkbox {
              height: 18px;
              width: 32px;
              background: #505a5b;
              box-shadow: 0 0 8px 5px rgba(129, 175, 178, 0.2);

              &:before {
                left: 2px;
                top: 2px;
                background: #19191a;
                width: 28px;
                height: 14px;
                box-shadow: 0 0 8px 5px rgba(129, 175, 178, 0.2) inset;
              }

              &:after {
                top: 0px;
                left: 0px;
                width: 18px;
                height: 18px;
                border: 2px solid #505a5b;
                background: #19191a;
                box-shadow: 0 0 5px 4px rgba(129, 175, 178, 0.2) inset;
              }
            }

            .am-switch input[type="checkbox"]:checked + .checkbox {
              box-shadow: 0 0 8px 5px rgba(129, 175, 178, 0.35);

              &:after {
                transform: translateX(14px);
                border-color: rgba(129, 175, 178, 1);
                box-shadow: 0 0 5px 4px rgba(129, 175, 178, 0.35) inset;
              }
            }
          }

          .pnl-content {
            margin-top: 14px;

            .form {
              .title {
                font-size: 14px;
                font-weight: 700;
                white-space: nowrap;
              }

              .result {
                font-size: 16px;
                line-height: 24px;
              }

              .pnl-result {
                opacity: 0.4;
                text-align: right;
              }
            }

            &.pnl-content-profit {
              .title {
                color: #00d3b8;
              }
            }

            &.pnl-content-loss {
              .title {
                color: #ff2366;
              }
            }

            &.pnl-content-expiry {
              .title {
                color: #4c8cb8;
              }
            }

            .ant-input {
              background: none;
              box-shadow: none;
              outline: none;
              border: none;
              border-radius: 0;
              font-size: 16px;
              color: #ffffff;
              height: 32px;
              line-height: 32px;
              padding: 0;
            }

            .ant-calendar-picker-icon {
              font-size: 22px;
              color: #66cbfe;
              margin-top: -13px;
            }

            .stop-type-radio {
              margin-bottom: 10px;

              .ant-radio-button-wrapper {
                height: 25px;
                line-height: 25px;
                font-weight: 400;
                font-size: 12px;
                border-radius: 0;
                padding: 0;
                width: 80px;
                text-align: center;
                background: #282829;
                color: #7e7e7f;
                border: none;
                box-shadow: none;
                margin-right: 1px;
                outline: none;

                &:before {
                  background: none !important;
                }

                &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                  color: #ffffff;
                }
              }
            }

            .expiry-radio {
              margin-bottom: 16px;
              margin-top: 5px;
              width: 100%;

              .ant-radio-button-wrapper {
                height: 40px;
                line-height: 40px;
                font-weight: 500;
                font-size: 12px;
                border-radius: 0;
                padding: 0;
                width: 50%;
                text-align: center;
                background: #222729;
                color: #7e7e7f;
                border: none;
                box-shadow: none;
                margin-right: 0px;
                outline: none;

                &:first-child {
                  border-radius: 4px 0 0 4px;
                }

                &:last-child {
                  border-radius: 0 4px 4px 0;
                }

                &:before {
                  background: none !important;
                }

                &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                  color: #ffffff;
                  background: #283034;
                }
              }
            }
          }
        }
      }
    }

    .bottom-info {
      position: relative;
      z-index: 3;
      height: 150px;
      margin-top: -150px;
      padding: 16px;
      box-shadow: 0 0 5px 5px rgba(25, 25, 26, 0.5);

      .margin {
        .margin-item {
          line-height: 18px;
          font-size: 15px;

          &:last-child {
            text-align: right;
          }

          p {
            color: #5e5e5e;
          }

          .green {
            color: #00d3b8;
            opacity: 0.6;
          }

          .red {
            color: #ff2366;
            opacity: 0.6;
          }
        }
      }

      .place-btn {
        height: 53px;
        line-height: 53px;
        width: 100%;
        border-radius: 5px;
        border: none;
        font-size: 15px;
        color: #ffffff;

        &:before {
          border: none;
        }
      }

      .am-button {
        &.am-button-disabled {
          background: #999999;
          opacity: 0.3;
        }

        &.am-button-active {
          opacity: 0.8;

          &.bgGreen {
            background-color: #00d3b8;
          }

          &.bgRed {
            background-color: #ff2366;
          }
        }
      }

      .insufficient-funds {
        .tip {
          padding-bottom: 12px;
          text-align: center;
          font-size: 12px;
          color: #ff2366;
        }

        .am-button {
          height: 53px;
          line-height: 53px;
          width: 48%;
          border-radius: 5px;
          border: 1px solid;
          font-size: 15px;
          color: rgba(0, 255, 200, 0.8);
          background: none;

          &:before {
            border: none;
          }

          &:hover {
            color: #ffffff;
            border-color: rgba(0, 255, 200, 0.8);
            background: rgba(0, 255, 200, 0.8);
          }
        }
      }
    }
  }
}

.new-trade-ticket {
  position: relative;
  background: #2d353a;
  width: 560px;
  min-height: 284px;
  color: #ffffff;
  font-family: Roboto-Bold, Roboto Bold, Roboto;
  .checkbox-container {
    padding-left: 16px;
    padding-top: 10px;
    font-size: 12px;
    color: #879ba6;
    .bp3-control input:checked ~ .bp3-control-indicator {
      background: transparent;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1);
      &::before {
        background: #879ba6;
        width: 12px;
        height: 12px;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        margin-top: -6px;
        left: 50%;
        margin-left: -6px;
      }
    }
    .bp3-control-indicator {
      outline: none;
      width: 18px;
      height: 18px;
      background: transparent;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1);
      &::before {
        transform: none;
        transition: none;
        background: none;
      }
    }
    .bp3-control input:focus ~ .bp3-control-indicator {
      outline: none;
      background: transparent;
    }
  }
  .new-ticket-form-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
    font-size: 12px;
    color: #879ba6;

    &-name {
      font-weight: 700;
    }
  }

  .header {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 16px;
    font-size: 14px;
    height: 48px;
    font-weight: 700;
    color: #879ba6;
    background: #2d353a;

    text-align: left;
    line-height: normal;

    .new-trade-ticket-header-wallet {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 150px;
      right: 16px;
      color: #879ba6;
      font-size: 13px;
      text-align: right;
      line-height: normal;

      img {
        margin-left: 7px;
      }

      span {
        margin-right: 3px;
      }
    }

    .am-tabs {
      overflow: visible;
      margin-left: 20px;
      max-width: 150px;
      margin-bottom: -9px;
      font-size: 14px;
      font-weight: normal;

      .am-tabs-default-bar-underline {
        box-shadow: none !important;
        display: none;
        border-color: white !important;
      }
    }

    .am-tabs-default-bar-top {
      &.am-tabs-default-bar {
        overflow: visible;
      }

      .am-tabs-default-bar-tab {
        border-bottom: none;
        cursor: pointer;
        color: white !important;
        opacity: 0.3;

        &:after {
          position: absolute;
          background: white;
          bottom: 0;
          content: " ";
          display: block;
          width: 32px;
          height: 2px;
          top: unset;
          right: auto;
          left: unset;
          transform-origin: unset;
          transform: none;
        }
      }

      .am-tabs-default-bar-tab-active {
        opacity: 1;
      }
    }
  }

  .ticket-form-container {
    display: flex;
    justify-content: space-around;
    margin-top: -1px;
  }

  .ticket-form {
    width: 50%;

    .bp3-button-group {
      margin-top: 4px;
      .bp3-button {
        border: none;
        margin: -1px;
        border-radius: 0;
        .bp3-button-text {
          color: #879ba6;
        }
        &:hover {
          background: #00d3b8 !important;
          .bp3-button-text {
            color: #fff;
          }
        }
      }
      .bp3-button:first-child {
        border-radius: 4px 0 0 4px;
      }
      .bp3-button:last-child {
        border-radius: 0 4px 4px 0;
      }
    }

    .scroll-wrapper {
      overflow: hidden;

      .container {
        .input-group {
          padding: 0 16px;

          .input-wrapper {
            margin-bottom: 4px;

            .input-title {
              font-size: 14px;
              font-weight: 700;
              color: #879ba6;
            }

            .counter-total {
              font-size: 12px;
              color: rgba(255, 255, 255, 0.3);
            }

            .base-total {
              font-size: 14px;
              background: none;
              border-radius: 0;
              border: none;
              color: #ffffff;
            }

            .ant-input-group {
              border: 1px solid rgba(255, 255, 255, 0.3);
              border-radius: 4px;
              padding: 0 8px;
            }

            .ant-input {
              font-size: 14px;
              text-align: right;
              background: none;
              border-radius: 0;
              border: none;
              color: #ffffff;
              padding: 0 4px;

              &:focus {
                box-shadow: none;
              }
            }

            .ant-input-group-addon {
              padding: 0;
              border-radius: 0;
              background: none;
              border: none;
              font-size: 14px;

              .away {
                color: rgba(255, 255, 255, 0.3);
              }

              .trade-coin-radio {
                .ant-radio-button-wrapper {
                  cursor: default;
                  height: 20px;
                  line-height: 20px;
                  font-size: 12px;
                  border-radius: 0;
                  padding: 0;
                  width: 62px;
                  background: #222729;
                  color: #4e5254;
                  border: none;
                  box-shadow: none;
                  margin-left: 1px;
                  outline: none;

                  &:before {
                    background: none !important;
                  }

                  &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                    background: #283034;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .place-bid-btn,
  .place-ask-btn {
    width: 249px;
    height: 32px;
    border-radius: 4px;
    background: transparent;
    background-image: linear-gradient(
      -82.6768271009464deg,
      #184a49 0%,
      #00d3b8 0%,
      #184a49 100%
    );
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff !important;
    font-size: 12px;
    padding-top: 8px;
    text-align: center;
    line-height: normal;
    margin-bottom: 15px;

    &:hover {
      background: #8748e3;
    }

    &::before {
      border: unset !important;
    }
  }

  .place-ask-btn {
    background-image: linear-gradient(
      -82.6768271009464deg,
      #ff2366 9.235646317091219e-14%,
      #ff2366 50.000000000000085%,
      rgba(255, 35, 102, 0.2) 100%,
      rgba(255, 35, 102, 0.2) 100%
    );
  }
  .am-button-disabled {
    opacity: 1;
    cursor: no-drop;
  }
}
