@import "../../../../style";

.platforms-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .platforms-links-card {
    @media screen and (min-width: 1920px) {
      display: flex;
      justify-content: center;
    }
  }
  > .bp3-card {
    flex: 1;
    height: 95px;
    display: flex;
    flex-direction: row;
    padding: 0;
    @media screen and (max-width: 1280px) {
      padding-right: 10px;
    }

    .platform-links-link {
      display: flex;
      align-items: center;

      .logo {
        width: 180px;
        svg {
          width: 100%;
          height: auto;
          padding-left: 8px;
        }
      }
      > span {
        padding-left: 12px;
      }
    }

    &:hover {
      border-color: $pt-dark-card-hover-border-color;
      background-color: $pt-intent-block-primary;
    }

    &:first-child {
      margin-right: 16px;
    }
  }
}
