.today {
  margin-bottom: 20px;
  .header {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    background: #262626;
    span {
      color: rgba(255, 255, 255, 0.3);
    }
  }
  .am-tabs {
    overflow: visible;
  }
  .am-tabs-default-bar-top {
    &.am-tabs-default-bar {
      overflow: visible;
    }
    .am-tabs-default-bar-tab {
      border-bottom: none;
      cursor: pointer;
      &:after {
        position: absolute;
        bottom: 0;
        content: " ";
        display: block;
        width: 100%;
        height: 2px;
      }
      &:first-child::after {
        background: -webkit-linear-gradient(
          left,
          rgba(59, 59, 59, 0),
          20%,
          rgba(59, 59, 59, 1)
        );
        background: -o-linear-gradient(
          right,
          rgba(59, 59, 59, 0),
          20%,
          rgba(59, 59, 59, 1)
        );
        background: -moz-linear-gradient(
          right,
          rgba(59, 59, 59, 0),
          20%,
          rgba(59, 59, 59, 1)
        );
        background: linear-gradient(
          to right,
          rgba(59, 59, 59, 0),
          20%,
          rgba(59, 59, 59, 1)
        );
      }
      &:nth-child(2)::after {
        background: -webkit-linear-gradient(
          left,
          rgba(59, 59, 59, 1),
          80%,
          rgba(59, 59, 59, 0)
        );
        background: -o-linear-gradient(
          right,
          rgba(59, 59, 59, 1),
          80%,
          rgba(59, 59, 59, 0)
        );
        background: -moz-linear-gradient(
          right,
          rgba(59, 59, 59, 1),
          80%,
          rgba(59, 59, 59, 0)
        );
        background: linear-gradient(
          to right,
          rgba(59, 59, 59, 1),
          80%,
          rgba(59, 59, 59, 0)
        );
      }
    }
  }
}
.statistics {
  font-size: 12px;
  font-weight: 400;
  padding: 20px 15px 0 15px;
  .buy {
    .title {
      color: #00fcc6;
    }
  }
  .sell {
    text-align: right;
    .title {
      color: #ff2366;
    }
  }
  .title {
    font-weight: 500;
    label {
      color: rgba(255, 255, 255, 0.3);
    }
  }
  .amount {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.7);
  }
}
