.recent-trade {
  height: 100%;
  .header {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    background: #262626;
    border-bottom: 1px solid #080808;
  }
  .list-head {
    height: 32px;
    line-height: 32px;
    width: 100%;
    background: #252526;
    li {
      font-size: 12px;
      font-weight: 400;
      white-space: nowrap;
      text-align: right;
      &:first-child {
        flex: 0 0 28%;
      }
      &:nth-child(2) {
        flex: 0 0 36%;
      }
      &:nth-child(3) {
        flex: 0 0 32%;
      }
      span {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  .trade-list {
    height: calc(100% - 80px);
    overflow: hidden;
    .list-item {
      position: relative;
      height: 32px;
      line-height: 32px;
      text-align: right;
      font-size: 12px;
      font-weight: 400;
      span {
        position: relative;
        z-index: 2;
      }
      .price {
        flex: 0 0 28%;
        &.ask {
          color: #ff2366;
        }
        &.bid {
          color: #00fcc6;
        }
      }
      .amount {
        flex: 0 0 36%;
        color: rgba(255, 255, 255, 0.7);
      }
      .time {
        flex: 0 0 32%;
        color: rgba(255, 255, 255, 0.3);
      }
      .depth {
        display: block;
        right: 0;
        top: 0;
        position: absolute;
        height: 32px;
        transition: all 0.2s;
        &.ask {
          background: -webkit-linear-gradient(
            left,
            rgba(139, 30, 64, 0),
            50%,
            rgba(139, 30, 64, 1)
          );
          background: -o-linear-gradient(
            right,
            rgba(139, 30, 64, 0),
            50%,
            rgba(139, 30, 64, 1)
          );
          background: -moz-linear-gradient(
            right,
            rgba(139, 30, 64, 0),
            50%,
            rgba(139, 30, 64, 1)
          );
          background: linear-gradient(
            to right,
            rgba(139, 30, 64, 0),
            50%,
            rgba(139, 30, 64, 1)
          );
        }
        &.bid {
          background: -webkit-linear-gradient(
            left,
            rgba(13, 117, 104, 0),
            50%,
            rgba(13, 117, 104, 1)
          );
          background: -o-linear-gradient(
            right,
            rgba(13, 117, 104, 0),
            50%,
            rgba(13, 117, 104, 1)
          );
          background: -moz-linear-gradient(
            right,
            rgba(13, 117, 104, 0),
            50%,
            rgba(13, 117, 104, 1)
          );
          background: linear-gradient(
            to right,
            rgba(13, 117, 104, 0),
            50%,
            rgba(13, 117, 104, 1)
          );
        }
      }
    }
  }
}
