.bottom-btns {
  display: flex;
  width: 100%;
  padding: 16px;
  justify-content: center;
  .trade-type-radio {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    .ant-btn {
      width: 50%;
      height: 48px;
      line-height: 48px;
      border-radius: 0;
      background: #283034;
      color: #ffffff;
      border: none;
      box-shadow: none;
      font-weight: 400;
      outline: none;
      display: flex;
      justify-content: space-between;
      &:after {
        opacity: 0;
      }
      &:first-child {
        background: rgba(0, 211, 183, 0.8);
      }
      &:last-child {
        background: rgba(255, 35, 101, 0.8);
        margin-left: 0;
      }
      .price {
        font-size: 19px;
      }
      .type {
        font-size: 12px;
        opacity: 0.8;
      }
    }
  }
}
