@import "../../../../style";

.main-menu {
  .label {
    font-weight: 700;
    margin-left: 4px;

    &.new {
      color: $new-color;
    }

    &.hot {
      color: $hot-color;
    }
    &.grey {
      color: $menu-item-grey-label;
    }
  }
  .a-link-menu-item {
    text-decoration: none;
    color: #8498a5;
    &.bp3-active {
      color: white;
      .menu-item {
        background: rgba(255, 255, 255, 0.07);
      }
    }
  }
  .menu-item {
    &:before {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -6px;
      height: auto;
      width: 3px;
      background: $pt-dark-text-color;
      content: ".";
      font-size: 0;
    }
  }
  .purple-menu-item {
    margin-top: 20px;
    margin-bottom: 10px !important;
    border-radius: 5px;
    background-color: rgba(119, 66, 194, 0.298039215686275);
    padding: 8px 16px !important;
    &:hover {
      background: linear-gradient(to bottom, #8748e3, #794ae0) !important;
    }
  }
  .purple-menu-item-inner {
    display: flex;
    flex-direction: column;
    &:hover {
      text-decoration: underline;
    }
  }
}
