@font-face {
  font-family: "icon";
  src: url("fonts/icon.eot?jadi05");
  src: url("fonts/icon.eot?jadi05#iefix") format("embedded-opentype"),
    url("fonts/icon.ttf?jadi05") format("truetype"),
    url("fonts/icon.woff?jadi05") format("woff"),
    url("fonts/icon.svg?jadi05#icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-logout:before {
  content: "\e903";
}
.icon-up:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-wallet:before {
  content: "\e909";
}
