.trade-ticked-max-leverage {
  margin-top: 4px;
  font-size: 14px;
  .bp3-tab {
    padding: 0 21.2px !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-left: none !important;
    &::before {
      display: none !important;
    }
  }

  .bp3-tab:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
  }
  .bp3-tab.bp3-tab[aria-selected="true"] {
    color: white !important;
    &:nth-child(1) {
      background: #00d3b8 !important;
      border-color: #00d3b8 !important;
    }
    &:nth-child(2) {
      background: #f59a23 !important;
      border-color: #f59a23 !important;
    }
    &:nth-child(3) {
      background: #ff2366 !important;
      border-color: #ff2366 !important;
    }
  }
}
