@import "../../../../style";

.controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: $pt-grid-size * 3.5;

  > * {
    .title {
      font-weight: 700;
      padding-bottom: $pt-grid-size;
    }
  }
}

.futures-balances {
  .balances-header-table {
    width: 100%;

    th {
      font-weight: 500;
      padding-bottom: $pt-grid-size;
      text-align: left;
    }

    td {
      font-size: 28px;
      font-weight: 500;
      color: $pt-dark-text-color-muted;

      .currency {
        font-weight: 200;
        color: $pt-dark-text-color-muted4;
        margin-left: 8px;
      }
    }

    margin-bottom: 37px;
  }

  .balances-table-wrapper {
    height: 283px;
    overflow: auto;
    .balances-table {
      width: 100%;

      th,
      td {
        text-align: right;
      }

      td {
        color: $pt-dark-text-color-muted;
      }

      .title {
        width: 20%;
        font-weight: 500;
        text-align: left;

        .expiry {
          display: block;
          font-size: 12px;
          font-weight: 400;
          color: $dark-slider-label-color;
        }
      }

      .transferred {
        .usdt-value {
          display: block;
          padding-top: 1px;
          font-size: 12px;
          font-weight: 400;
          white-space: nowrap;
          color: $input-group-background-color-active;
        }
      }

      td.title,
      td.transferred {
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
      }

      .balance-name {
        margin-right: 8px;
        color: $pt-dark-text-color-muted2;
      }

      .actions {
        width: 126px;
      }

      td.actions {
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;

        button {
          min-width: 80px;
        }
      }

      th.actions {
        color: $pt-dark-text-color-muted2;
      }
    }
  }
}
