.max-leverage {
  .bp3-tab.bp3-tab[aria-selected="true"] {
    color: white !important;
    &:nth-child(2) {
      background: #00d3b8 !important;
    }
    &:nth-child(3) {
      background: #f59a23 !important;
    }
    &:nth-child(4) {
      background: #ff2366 !important;
    }
  }
}
