@import "../../../style";
.dashboard-page-wrapper {
  background: #1f282d;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #1f282d;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    .content-container {
      flex: 1;
      @media screen and (min-width: 1920px) {
        max-width: 1700px;
      }
      max-width: 1400px;
    }
    .topbar-wrapper {
      flex: 1;
      height: 115px;
      color: $pt-dark-text-color;
      text-align: left;
    }

    .topbar {
      @media screen and (min-width: 1920px) {
        max-width: 1700px;
      }
      width: 100%;
      max-width: 1400px;
      padding: 0;
    }

    .content-wrapper {
      display: flex;
      flex: 1;

      .sidebar-wrapper {
        width: 265px;
        margin-right: $block-margin;
      }

      .main-wrapper {
        flex: 1;
        min-width: 650px;

        .inner-dashboard-home-container {
          display: flex;
          width: 1034px;
          @media screen and (min-width: 1920px) {
            width: 1334px;
          }
          @media screen and (max-width: 1280px) {
            width: 950px;
          }
          .inner-dashboard-home-content {
            width: calc(100% - 265px);
            display: flex;
            flex-direction: column;
          }
        }
        > * {
          margin-bottom: $block-margin;
        }
      }

      .right-sidebar-wrapper {
        width: 265px;
        margin-left: 20px;
      }
    }

    .footer-wrapper {
      width: 100%;
      margin-top: 16px;
      background: rgba(45, 53, 58, 1);
      display: flex;
      justify-content: center;
    }

    .balances {
      .bp3-card-title {
        margin-right: 25px;
      }
      .bp3-tab {
        min-width: 57px;
        text-align: center;
      }
    }
  }
}
