@import "./colours";

@media only screen {
  html {
    font-size: 50px;
  }
}

@media only screen and (max-width: 479px) and (min-width: 321px) {
  html {
    font-size: 100px;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 92px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: #080808;
  overflow-x: hidden;
  font-family: Roboto, Impact, Charcoal, sans-serif;
  font-weight: 500;
  color: #ffffff;
}

#root {
  height: 100%;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .fix-content {
    flex: 1;
  }
  .scroll-wrapper {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    // overflow: hidden;
  }
}

/*flex 相关*/
.flex-inline {
  display: inline-flex;
}

.flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-center {
    align-items: center;
    justify-content: center;
  }

  &.flex-align-center {
    align-items: center;
  }

  &.flex-content-center {
    justify-content: center;
  }

  &.flex-align-end {
    align-items: flex-end;
  }

  &.flex-content-end {
    justify-content: flex-end;
  }

  &.flex-content-between {
    justify-content: space-between;
  }

  &.flex-align-between {
    align-content: space-between;
  }

  &.flex-content-around {
    justify-content: space-around;
  }

  &.flex-align-around {
    justify-content: space-around;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .flex-3 {
    flex: 3;
  }

  .flex-4 {
    flex: 4;
  }
}

/*公共样式*/
.italic,
.italic strong {
  font-style: italic;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bgGreen {
  background-color: $green;
}

.bgRed {
  background-color: $red;
}

.fontGreen {
  color: $green;
}

.fontRed {
  color: $red;
}

html.theme-dark .loading-indicator,
html.theme-dark body {
  background: #191919;
}

.ant-layout {
  background: none;
}

.ant-btn-primary {
  background: #1eafed;
  border: none;
}
.white-bg {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}

#home-scroll {
  height: 100%;
  overflow: hidden;
}

/*webkit内核*/
.scroll-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scroll-wrapper::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0);
}
.scroll-wrapper::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.scroll-wrapper::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}
.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
.scroll-wrapper::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}
.scroll-wrapper::-webkit-scrollbar-resizer {
  background-color: rgba(0, 0, 0, 0);
}
/*o内核*/
.scroll-wrapper .-o-scrollbar {
  -moz-appearance: none !important;
  background: rgba(0, 255, 0, 0) !important;
}
.scroll-wrapper::-o-scrollbar-button {
  background-color: rgba(0, 0, 0, 0);
}
.scroll-wrapper::-o-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.scroll-wrapper::-o-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}
.scroll-wrapper::-o-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
.scroll-wrapper::-o-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}
.scroll-wrapper::-o-scrollbar-resizer {
  background-color: rgba(0, 0, 0, 0);
}
/*IE10,IE11,IE12*/
.scroll-wrapper {
  -ms-scroll-chaining: chained;
  -ms-overflow-style: none;
  -ms-content-zooming: zoom;
  -ms-scroll-rails: none;
  -ms-content-zoom-limit-min: 100%;
  -ms-content-zoom-limit-max: 500%;
  -ms-scroll-snap-type: proximity;
  -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
}

.filter-blur {
  filter: blur(4px);
}
