$pt-font-family: Roboto, Impact, Charcoal, sans-serif;

$white: #ffffff;
$blue3: #00d3b8;
$gray4: #cccccc;

$dark-border-color: #353d42;

$pt-dark-text-color: #879ba6;
$pt-dark-text-color-muted2: rgba(135, 155, 166, 0.3);
$pt-dark-text-color-muted3: #61686b;
$pt-dark-text-color-muted4: #80939d;
$pt-dark-text-color-muted5: rgba(255, 255, 255, 0.3);

$dark-menu-background-color: transparent;
$dark-menu-item-color-hover: transparent;
$dark-menu-item-color-active: rgba(255, 255, 255, 0.07);
$dark-menu-border-color: #343d41;

$pt-dark-card-border-color: #353d42;
$pt-dark-card-hover-border-color: $white;

$dark-tab-color-selected: $white;

$menu-item-padding-vertical: 10px;
$menu-item-border-radius: 0;
$menu-item-padding: 32px;
$menu-item-grey-label: rgba(135, 155, 166, 0.298);

$pt-input-height: 32px;
$pt-input-height-large: 48px;
$input-padding-horizontal: 16px;
$dark-input-color: $white;

$button-padding: 0 14px;
$pt-button-height: 48px;
$pt-button-height-small: 30px;
$background-color: #1f282d;

$dark-button-gradient: none;
$dark-button-primary-gradient: linear-gradient(
  to bottom,
  rgb(135, 72, 227),
  rgb(121, 74, 224)
);
$dark-button-box-shadow: 0 0 2px rgb(121, 74, 224);
$dark-button-primary-box-shadow: 0 2px 8px rgba(121, 74, 224, 0.7);
$dark-button-background-color: transparent;
$dark-button-background-color-disabled: transparent;

$dark-card-background-color: transparent;

$table-row-height: 48px;
$dark-table-border-color: $dark-border-color;

$track-size: 4px;
$handle-size: 12px;
$handle-height: 24px;

$dark-input-background-color: transparent;

$block-margin: 20px;
$card-header-height: 48px;
$card-title-font-size: 16px;
$button-font-size: 12px;
$button-font-size-large: 14px;
$button-font-weight: 500;
$button-color: $white;
$input-border-color-active: $white;
$input-group-background-color-active: rgba(255, 255, 255, 0.07);
$pt-intent-block-primary: #373c46;

$dark-slider-label-color: $pt-dark-text-color-muted5;
$dark-slider-track-gradient: linear-gradient(
  170deg,
  rgba(0, 255, 255, 1) -135%,
  rgba(0, 255, 255, 1) -40%,
  rgba(255, 35, 102, 1) 231%
);
$dark-slider-handle-color: rgba(255, 255, 255, 0.4);

$new-color: #f59a23;
$hot-color: #7742c2;

@import "../../node_modules/@blueprintjs/core/src/blueprint";

.bp3-dark .bp3-menu {
  padding: 0;
}

.bp3-dark .bp3-menu-item {
  position: relative;
  margin-bottom: 1px;

  &:hover {
    color: $dark-tab-color-selected;

    .label {
      color: $dark-tab-color-selected;
    }
  }

  // &:before {
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: -6px;
  //   height: auto;
  //   width: 3px;
  //   background: $pt-dark-text-color;
  //   content: ".";
  //   font-size: 0;
  // }

  &.bp3-active {
    &.bp3-intent-primary {
      background: $pt-intent-block-primary;
    }

    &:before {
      background: $white;
      box-shadow: 0 0 10px rgba(119, 66, 194, 1);
    }
  }
}

.dashboard-content-container {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1280px) {
    width: 650px;
  }
  width: 100%;
}

.bp3-card {
  width: 100%;
  border: 1px solid $pt-dark-card-border-color;
}

.bp3-card-header,
.bp3-card-footer {
  margin-left: -$card-padding;
  margin-right: -$card-padding;
  margin-top: -$card-padding;
  padding-left: $card-padding;
  padding-right: $card-padding;
}

.bp3-card-header {
  border-bottom: 1px solid $pt-dark-card-border-color;
  height: $card-header-height;
  line-height: $card-header-height;
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
  }

  .right-icon {
    margin-top: 12px;
    cursor: pointer;
  }
}

.bp3-card-content {
  padding-top: $card-padding;
  padding-bottom: $card-padding;
  margin-bottom: -$card-padding;
}

.bp3-card-title {
  font-size: $card-title-font-size;
  font-weight: 700;
  margin-right: 40px;
  color: $pt-dark-text-color;
}

.bp3-dark .bp3-tab {
  color: $button-color;
  opacity: 0.3;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    width: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 2px;
    background: $white;
    content: ".";
    font-size: 0;
    box-shadow: 0 0 10px rgba(119, 66, 194, 1);
  }

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &[aria-selected="true"] {
    box-shadow: none;
    opacity: 1;
  }
}

.bp3-html-table {
  tr {
    td {
      border-bottom: 1px solid $pt-dark-card-border-color;

      &.primary {
        color: $white;
      }
    }
  }
}

.bp3-dark {
  table.bp3-html-table.bp3-interactive {
    tbody tr:hover {
      box-shadow: inset 0 1px 1px 1px $input-border-color-active,
        inset 0 -1px 1px $input-border-color-active;
    }
  }
}

.bp3-dark.bp3-popover-wrapper {
  .bp3-popover-target {
    width: 100%;
    > div .bp3-button {
      height: 46px;
      box-shadow: none;
      border: 1px solid $dark-border-color;

      &:hover,
      &:focus,
      &[autofocus] {
        box-shadow: none;
        border-color: $input-border-color-active;
        background: transparent;
      }
    }
  }
  border: $dark-menu-border-color;
}

.bp3-popover.bp3-dark {
  &.bp3-select-popover {
    .bp3-popover-content {
      background: $background-color;
      .bp3-icon svg {
        height: 28px;
      }
      .bp3-input {
        height: 46px;
      }
      .bp3-button {
        box-shadow: none;
        border: 1px solid $dark-border-color;
        background: transparent;

        &:hover,
        &:focus,
        &[autofocus] {
          box-shadow: none;
          border-color: $input-border-color-active;
        }
      }
    }
  }
}

.bp3-dark.bp3-dialog {
  box-shadow: none;
  border: none;
  background: $background-color;

  .bp3-dialog-header,
  .bp3-dialog-body,
  .bp3-dialog-footer {
    background: $background-color;
  }

  &:hover,
  &:focus,
  &[autofocus] {
    box-shadow: none;
    //border-color: $input-border-color-active;
  }
}

.bp3-dark .bp3-button {
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  min-height: $pt-input-height;

  outline: none;

  &:not([class*="bp3-intent-"]):disabled,
  &:not([class*="bp3-intent-"]).bp3-disabled {
    box-shadow: $dark-button-box-shadow;
    background-image: linear-gradient(
      to bottom,
      rgba(135, 72, 227, 0.3),
      rgba(121, 74, 224, 0.3)
    );
    opacity: 0.3;
  }

  &.bp3-intent-primary {
    background: $dark-button-primary-gradient;
    box-shadow: $dark-button-primary-box-shadow;
    &.bp3-disabled {
      background-image: linear-gradient(
        to bottom,
        rgba(135, 72, 227, 0.3),
        rgba(121, 74, 224, 0.3)
      );
      opacity: 0.3;
    }
  }

  &:hover {
    background: $dark-button-primary-gradient;
    box-shadow: $dark-button-primary-box-shadow;
    opacity: 0.9;
  }

  &:active {
    opacity: 1;
  }

  &[class*="bp3-intent-"]:hover {
    box-shadow: $dark-button-primary-box-shadow;
  }

  &.bp3-large {
    font-size: $button-font-size-large;
  }
}

.bp3-button-text {
  color: $button-color;
}

.bp3-slider-label {
  display: none;
}

.bp3-slider-track {
  margin-left: -4px;
  margin-right: -4px;
}

.bp3-slider-handle {
  height: $handle-size * 2;
  margin-top: -$handle-size / 2;
  border-radius: 6px;

  .bp3-slider-label {
    margin-top: 10px;
    display: block;
  }
}

.bp3-dark {
  .bp3-slider {
    margin-top: 10px;
    height: 20px;
  }

  .bp3-slider-handle {
    background: $dark-slider-handle-color;
    box-shadow: none;

    &:hover,
    &:focus,
    &.bp3-active {
      background: $dark-slider-handle-color;
      outline: none;
      outline-color: transparent;
      box-sizing: border-box;
      box-shadow: 0 0 3px $blue3;
    }

    .bp3-slider-label {
      display: none;
    }

    &:after {
      display: block;
      position: absolute;
      border-radius: 2px;
      top: 4px;
      right: 3px;
      bottom: 4px;
      left: 3px;
      background: rgba(255, 255, 255, 0.6);
      content: ".";
      font-size: 0;
    }
  }

  .bp3-slider-progress {
    background: transparent;
  }

  .bp3-slider-track {
    background: $dark-slider-track-gradient;
  }
}

.bp3-dark .bp3-input {
  box-shadow: none;
  border: 1px solid $dark-border-color;

  &:hover,
  &:focus,
  &[autofocus] {
    box-shadow: none;
    border-color: $input-border-color-active;
  }
}

.bp3-overlay {
  .bp3-toast {
    display: flex;
    .bp3-toast-message {
      align-self: center;
    }
  }
}
