.embeddedServiceSidebarForm.buttonWrapper {
  background: #121212;
}
.embeddedServiceSidebarForm {
  .fieldList {
    .uiInputText {
      input {
        background: #212121;
        color: #ffffff;
      }
    }
  }
}
.embeddedServiceSidebarFormField {
  .slds-style-inputtext {
    background: #212121;
    color: #fff;
  }
  .uiInput {
    .uiLabel-left {
      color: #ffffff;
    }
  }
}
.embeddedServicesIDEBarForm {
  background-color: #121212 !important;
}
.embeddedServiceSidebarButton {
  background: #8d4de8;
}
.embeddedServiceHelpButton {
  .helpButton {
    .uiButton {
      background-color: #8d4de8;
    }
  }
}
.embeddedServiceSidebarButton.uiButton--inverse {
  .label {
    color: #ffffff;
  }
}
.waitingStateContainer {
  background-color: #212121;
}
.waitingStateButtonContainer {
  background-color: #212121;
}
.waitingCancelChat {
  background-color: #8d4de8 !important;
}
.embeddedServiceSidebarDialogState {
  .dialogButton {
    background-color: #8d4de8 !important;
  }
  background-color: #212121;
  color: #ffffff;
  #dialogTextTitle {
    color: #ffffff;
  }
  #dialogTextBody {
    color: #ffffff;
  }
}
.messageArea {
  background-color: #212121 !important;
}
.embeddedServiceLiveAgentStateChatItem.chatMessage {
  background-color: #212121 !important;
}
.embeddedServiceLiveAgentStateChatBubble.agent {
  .chatContent {
    background-color: #121212;
  }
}
.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.agent.plaintextContent {
  background-color: #121212;
}
.embeddedServiceLiveAgentStateChatUnreadMessageBanner {
  background-color: #121212 !important;
  .message {
    color: #ffffff;
  }
}
.embeddedServiceLiveAgentStateChatInputFooter {
  background-color: #212121;
  .chasitorText {
    background-color: #212121;
  }
}
.embeddedServiceLiveAgentStateChat {
  .endChatContainer {
    background-color: #212121;
    &:before {
      background-color: #212121;
      background: none;
    }
  }
}
.embeddedServiceLiveAgentStateChatMessage {
  .uiOutputRichText {
    color: #ffffff;
  }
}
.embeddedServiceLiveAgentStateChatInputFooter.dynamicResizeTextOneRow {
  .chasitorText {
    color: #ffffff;
  }
}
.embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper {
  background: #121212;
}
