.bp3-dialog-header {
  border-bottom: 1px solid rgb(135, 155, 166);
  padding: 10px 10px 10px 20px;
}

.transfer-modal-container {
  .modal-info {
    margin: 16px 0 16px 0;
    font-size: 16px;
    color: #61686b;
    font-weight: 400;
  }

  h4.bp3-heading {
    margin-top: 16px;
  }

  h5.bp3-heading {
    margin-top: 32px;
  }

  .cf-helper {
    color: #61686b;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 300;
  }

  .totals {
    float: right;
    color: #00d3b8;
    font-weight: 300;
  }

  .controls-group {
    display: flex;
    width: 100%;
    .bp3-input-group {
      width: 60%;
      font-size: 14px;
      &.amount-input {
        input {
          font-size: 14px;
        }
      }
    }
    .bp3-tabs {
      flex: 1;
      .bp3-tab {
        font-size: 14px !important;
      }
    }
  }

  .asset-switcher-container {
    text-align: center;
    .asset-switcher {
      align-items: center;
      margin: 50px 0;
      padding: 10px 20px 10px 30px;
      svg {
        color: #fff;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.bp3-dialog-footer {
  margin: 30px 0 0 0 !important;
}
