@import "../../../../style";

.controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: $pt-grid-size * 3.5;

  > * {
    .title {
      font-weight: 700;
      padding-bottom: $pt-grid-size;
    }
  }

  .add {
    display: flex;
    height: $pt-input-height;
    margin-top: $pt-grid-size;

    button {
      &:not(:last-child) {
        margin-right: $pt-grid-size;
      }
    }
  }
}

.leverage-balances {
  .balances-table-wrapper {
    height: 296px;
    overflow: auto;

    .balances-table {
      width: 100%;

      .title {
        width: 20%;
        font-weight: 500;
      }

      .borrowed {
        width: 21%;
        padding-right: 4px;

        .balance-name {
          line-height: $pt-input-height;
        }
      }

      td.borrowed {
        padding-top: 8px;
        padding-bottom: 8px;

        .bp3-form-group {
          margin-bottom: 0;
        }
      }

      .set-borrowed {
        width: 40px;
        padding: 12px 0;
      }

      th.slider,
      td.slider {
        width: 200px;
        min-width: 200px;
        text-align: right;
      }

      th.slider {
        color: $pt-dark-text-color-muted2;
      }

      td.slider {
        padding-top: 0;
        padding-bottom: 0;

        .slider {
          position: relative;
          top: 8px;
          margin-bottom: -1px;
        }
      }

      .repay-all {
        width: 30px;
        padding: 12px 0;
      }

      .availabe-max {
        text-align: right;

        .max {
          color: $pt-dark-text-color-muted2;
        }

        .availabe-value {
          color: $pt-intent-primary;
        }

        .max-value {
          color: $pt-dark-text-color-muted;
        }

        .balance-name {
          color: $pt-dark-text-color-muted2;
        }
      }
    }
  }
}

.bp3-dark {
  .spot-balances-footer {
    text-align: center;
    padding: $block-margin $block-margin 0 $block-margin;

    .history-button.bp3-button:not([class*="bp3-intent-"]) {
      border-radius: 16px;

      &:not(:hover) {
        background: #2c3439;
        box-shadow: none;
      }
    }
  }
}
