.confirm-wrapper {
  margin-top: -48px;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 58px;
  padding-bottom: 10px;
  text-align: center;
  .scroll-wrapper {
    height: 100%;
    .confirm-title {
      margin-top: 20px;
    }
    h1 {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      span {
        font-size: 12px;
      }
    }
    h2 {
      color: rgba(255, 255, 255, 0.3);
      font-size: 14px;
      font-weight: 700;
      padding: 25px 0;
    }
    p {
      font-size: 18px;
      color: #ffffff;
      font-weight: 400;
    }
    .loss-profit {
      color: rgba(0, 255, 200, 0.8);
    }
    .share {
      padding: 35px 0;
      i {
        font-size: 24px;
        margin: 0 5px;
        opacity: 0.7;
      }
    }
    a {
      padding: 0 0 25px 0;
    }
    .btns {
      width: 90%;
      .am-button {
        background: #19191a;
        opacity: 0.3;
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
        margin-bottom: 10px;
        height: 35px;
        line-height: 35px;
        border: 1px solid rgba(255, 255, 255, 0.6) !important;
        &:hover {
          border-color: #00ffff;
          color: #00ffff;
          opacity: 1;
        }
        &::before {
          display: none;
        }
      }
      .done {
        opacity: 1;
        background: #19191a;
        color: rgba(255, 255, 255, 0.6);
        &:hover {
          border-color: #00ffff;
          color: #00ffff;
        }
      }
    }
  }
  .bottom-done {
    position: relative;
    top: -60px;
    .am-button {
      background: #19191a;
      opacity: 0.3;
      color: rgba(255, 255, 255, 1);
      height: 53px;
      line-height: 53px;
      font-size: 15px;
      border-radius: 5px;
      margin: 0 4%;
      border: 1px solid rgba(255, 255, 255, 0.6) !important;
      &:hover {
        border-color: #00ffff;
        color: #00ffff;
        opacity: 1;
      }
      &::before {
        display: none;
      }
    }
  }
}
