.home {
  width: 100%;
  height: 100%;
  .page {
    height: 100%;
    .header-wrapper {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      height: 48px;
      width: 100%;
      margin-bottom: 10px;
    }
    > .container {
      position: relative;
      height: 100%;
      padding-top: 58px;
      padding-bottom: 10px;
      margin: 0 8px;
      .grid {
        display: grid;
        grid-template-columns: 340px calc(100% - 700px) 340px;
        grid-template-rows: auto 535px 216px 300px;
        grid-template-areas:
          "markets markets markets"
          "ticket chart order"
          "ticket chart recent"
          "blotter blotter recent";
        grid-gap: 10px;
        transition: all 1s;
        .item {
          &.item-trade-ticket {
            grid-area: ticket;
          }
          &.item-chart {
            grid-area: chart;
          }
          &.item-order-book {
            grid-area: order;
          }
          &.item-slider {
            grid-area: slider;
          }
          &.item-blotter {
            grid-area: blotter;
          }
          &.item-today {
            grid-area: today;
          }
          &.item-markets {
            grid-area: markets;
          }
          &.item-recent {
            grid-area: recent;
          }
          .module-bg {
            width: 100%;
            height: 100%;
            background: #19191a;
            border-radius: 6px;
            border: 1px solid #202020;
            .module-name {
              display: flex;
              height: 100%;
              justify-content: center;
              align-items: center;
              font-size: 30px;
              font-weight: bold;
              opacity: 0.3;
            }
          }
          .overflowHidden {
            height: 100%;
            overflow: hidden;
          }
          .markets-wrapper {
            width: 100%;
          }
        }
      }
      @media screen and (max-width: 960px) {
        .grid {
          grid-template-columns: calc(70% - 20px) 30%;
          grid-template-rows: auto 300px 300px 512px 300px;
          grid-template-areas:
            "markets markets "
            "chart order"
            "ticket order"
            "ticket recent"
            "blotter blotter";
        }
      }
    }
    @media screen and (max-width: 640px) {
      .header-wrapper {
        display: none;
      }
      > .container {
        padding: 0;
        padding: 0;
        margin: 0;
        height: 100%;
        .grid {
          display: block;
          height: 100%;
          grid-template-columns: 100%;
          grid-template-rows: 100%;
          grid-template-areas: "ticket";
          .item {
            display: none;
            &.item-trade-ticket {
              display: block;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .mobile-page {
    height: 100%;
    .top-header-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .tab-content {
      height: calc(100% - 124px);
      &.tab-content-hasbottom {
        padding-bottom: 100px;
      }
    }
    .market-wrapper {
      height: 80px;
      overflow: hidden;
    }
    .item {
      height: 100%;
      .module-bg {
        height: 100%;
      }
    }
    .bottom-btns {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      background: #292929;
      z-index: 10;
    }
    .am-tabs {
      overflow: visible;
    }
    .am-tabs-default-bar-top {
      &.am-tabs-default-bar {
        overflow: visible;
      }
      .am-tabs-default-bar-tab {
        border-bottom: none;
        cursor: pointer;
        &:after {
          position: absolute;
          bottom: 0;
          content: " ";
          display: block;
          width: 100%;
          height: 2px;
        }
        &::after {
          background: none;
        }
      }
      .am-tabs-default-bar-content {
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 2px;
          content: " ";
          background: -webkit-linear-gradient(
            left,
            rgba(59, 59, 59, 0),
            rgba(59, 59, 59, 1) 50%,
            rgba(59, 59, 59, 0) 100%
          );
          background: -o-linear-gradient(
            right,
            rgba(59, 59, 59, 0),
            rgba(59, 59, 59, 1) 50%,
            rgba(59, 59, 59, 0) 100%
          );
          background: -moz-linear-gradient(
            right,
            rgba(59, 59, 59, 0),
            rgba(59, 59, 59, 1) 50%,
            rgba(59, 59, 59, 0) 100%
          );
          background: linear-gradient(
            to right,
            rgba(59, 59, 59, 0),
            rgba(59, 59, 59, 1) 50%,
            rgba(59, 59, 59, 0) 100%
          );
        }
      }
    }
  }
}
