.bp3-popover-target {
  > div .bp3-button {
    width: 100%;
  }
}

.asset-dropper-popover {
  width: 464px;
  max-height: 323px;
  overflow: auto;
}

.bp3-button.asset-dropper-button {
  justify-content: flex-start;
}
