.cf-navbar {
  // min-width: 1280px;
  // max-width: 1440px;
  width: 100%;
  background-color: #2d353a !important;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.349019607843137) !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .bp3-navbar-group {
    flex: 1;
    .bp3-navbar-heading {
      img {
        height: 36px;
      }
    }
  }
  button.bp3-button {
    float: right;
    margin-top: 10px;
  }
  .navbar-buttons-wrapper {
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    > span {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
    > a {
      color: white;
    }
    > img {
      width: 33px;
      height: 16px;
    }
    .language-change-button {
      margin-top: 0;
      text-align: center;
    }
  }
}
