html.theme-dark .chart-page {
  background: #191919;
}

.chart-page :not(input):not(textarea):not(.selectable),
.tv-profile .tags,
.unselectable {
  border: none;
}

#header-toolbar-chart-styles {
  /* position: absolute;
    right: 120px; */
}

#header-toolbar-undo-redo {
  /* position: absolute;
    right: 50px; */
}

html.theme-dark .chart-controls-bar,
html.theme-dark .chart-page .chart-container,
html.theme-dark .group-wWM3zP_M-,
html.theme-dark .drawingToolbar-U3_QXRof- {
  background: transparent;
}

/* left tools background */
html.theme-dark .group-2JyOhh7Z-,
html.theme-dark .layout__area--top > .container-2BvS3Fpg- > .inner-3YzQuyJx-,
html.theme-dark .layout__area--left > .container-2BvS3Fpg- > .inner-3YzQuyJx-,
html.theme-dark .fill-1djIbBXv- {
  background-color: #191919;
}

html.theme-dark .loading-indicator,
html.theme-dark body {
  background: #191919 !important;
}
