@import "../../../style";

.controls-group {
  display: flex;
  height: $pt-input-height;

  > .bp3-button,
  > .bp3-input-group > .bp3-input,
  > .bp3-tabs > .bp3-tab-list > .bp3-tab,
  > .bp3-input {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: none;
    position: relative;
    font-size: $button-font-size-large;
    font-weight: $button-font-weight;
    height: $pt-input-height;
    min-height: $pt-input-height;
    line-height: $pt-input-height;
    border-radius: $pt-border-radius;
    padding: 0 $input-padding-horizontal;
    opacity: 1;
    color: $pt-dark-text-color;

    &:hover {
      color: white;
      background: $input-group-background-color-active;

      &:before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        height: auto;
        content: ".";
        font-size: 0;
        background: $input-group-background-color-active;
      }
    }

    &:active,
    &:focus {
      border: 1px solid white;
      color: white;
      background: $input-group-background-color-active;
      outline: none;

      &:before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        height: auto;
        content: ".";
        font-size: 0;
        background: $input-group-background-color-active;
      }
    }

    &.bp3-input-group > .bp3-input,
    &.bp3-input {
      color: $dark-input-color;
    }

    &:not([class*="bp3-intent-"]) {
      box-shadow: none;

      &:hover {
        background: transparent;
        box-shadow: none;
      }
    }

    &:not(:first-child) {
      margin-left: -1px;
      border-left-color: transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 0;
    }

    &.bp3-tab {
      &:after {
        display: none;
      }

      &[aria-selected="true"] {
        border: 1px solid white;
        background: $input-group-background-color-active;
        color: white;
      }

      &:active,
      &:focus {
        border: 1px solid white;
        color: white;
        background: $input-group-background-color-active;
        outline: none;
      }
    }

    .bp3-button-text {
      color: $pt-dark-text-color;
    }
  }

  .bp3-button {
    .bp3-button-text {
      color: #879ba6;
    }

    &:hover {
      .bp3-button-text {
        color: white;
      }
    }

    &:active,
    &:focus {
      .bp3-button-text {
        color: white;
      }

      border: 1px solid white;
    }
  }

  > .bp3-input-group {
    &:not(:first-child) {
      > .bp3-input {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &:not(:last-child) {
      > .bp3-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  > .bp3-tabs {
    &:not(:first-child) {
      > .bp3-tab-list {
        > .bp3-tab {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          &:first-child {
            margin-left: -1px;
            border-left-color: transparent;
          }
        }
      }
    }
  }

  &.large {
    height: $pt-input-height-large;

    > .bp3-button,
    > .bp3-input-group > .bp3-input,
    > .bp3-tabs > .bp3-tab-list > .bp3-tab,
    > .bp3-input {
      height: $pt-input-height-large;
      line-height: $pt-input-height-large;
      font-weight: $input-font-weight;
    }
  }
}
