@import "../../../style/index";

.change-warning-overlay {
  .bp3-overlay-backdrop {
    background: rgba(0, 0, 0, 0.86);
  }
}

.change-warning {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  > div {
    position: relative;
  }

  h3,
  h4 {
    font-size: 24px;
    line-height: 2.4;
  }

  h3 {
    color: $white;
  }

  h4 {
    font-weight: 200;
    color: $pt-dark-text-color;
  }

  a {
    color: #027db4 !important;
  }

  .close-icon {
    position: absolute;
    top: -83px;
    right: -101px;
    cursor: pointer;

    &:hover {
      color: $white;
    }
  }
}
