.header {
  height: 48px;
  margin: 0;
  line-height: 48px;
  font-size: 24px;
  background: #19191a;
  position: relative;
  .logo {
    line-height: 58px;
    margin-left: 16px;
    img {
      width: 128px;
    }
  }
  .right-part {
    p {
      text-align: center;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.3);
      font-size: 13px;
    }
    span {
      color: rgba(255, 255, 255, 0.7);
    }
    svg {
      color: rgba(255, 255, 255, 0.3);
    }
    .icon-button {
      padding: 13px;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;

      svg * {
        fill: rgba(255, 255, 255, 0.3);
      }

      &:first-child {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      }

      &:hover {
        background: #000000;
        cursor: pointer;

        svg * {
          fill: #33ccff;
        }
      }
    }
    .user-info {
      width: 114px;
      //height:51px;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
    .balance-info {
      width: auto;
      padding-left: 15px;
      padding-right: 15px;
      justify-content: flex-end;
      cursor: pointer;
      span {
        margin-left: 10px;
      }
      img {
        width: 24px;
        height: 22px;
        margin: 13px 0;
      }
      &:hover,
      &.active {
        background: #000000;
      }
    }
    .logout {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      font-size: 0;
      .ant-btn-link {
        height: 100%;
        line-height: 100%;
        border: none;
        padding: 0 20px;
        span {
          color: rgba(255, 255, 255, 0.3);
        }
        .icon-logout {
          margin-left: 10px;
          line-height: 100%;
          font-size: 20px;
          color: rgba(255, 255, 255, 0.3);
        }
        &:hover {
          background: #000000;
        }
      }
    }
  }
}

.dropdown-container {
  position: absolute;
  top: 48px;
  right: 114px;
  transition: all 0.25s;
  background: #000000;
  width: 260px;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.07);
  overflow: hidden;
  .progress-percent {
    width: 108px;
    margin: 20px 40px;
    .ant-progress {
      margin-bottom: 10px;
      text-align: center;
      margin-left: 10px;
      .ant-progress-circle-trail {
        stroke: #000000 !important;
      }
    }
    p {
      line-height: 20px;
    }
  }
  .balance-detail {
    margin-top: 20px;
    p {
      line-height: 33px;
    }
    .pnl {
      color: #00d3b8;
    }
  }
  .wallet-icon {
    margin-top: 15px;
    margin-left: 10px;
  }
  .dropdown-btn {
    padding: 8px 0;
    .ant-btn-primary {
      width: 198px;
      height: 48px;
      background: rgba(51, 255, 255, 0.7);
      margin: 10px 5px;
      span {
        color: #ffffff;
      }
    }
    .withdraw-btn {
      background: none;
      border: 1px solid rgba(0, 211, 184, 1);
      span {
        color: rgba(0, 255, 200, 0.8);
      }
      &:hover {
        background-color: rgba(51, 255, 255, 0.7);
        span {
          color: #ffffff;
        }
      }
    }
  }
  .collapse-icon {
    background-color: #19191a;
    height: 23px;
    cursor: pointer;
  }
}

.dashboard-dropdown {
  height: 100vh;
  transition: height 0.25s;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .dashboard-backdrop {
    height: 100%;
    width: 100%;
  }
  .dashboard-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 540px;
    background: rgb(31, 40, 45);
    background: linear-gradient(
      180deg,
      rgba(31, 40, 45, 1) 0%,
      rgba(31, 40, 45, 1) 60%,
      rgba(31, 40, 45, 0.47522759103641454) 80%,
      rgba(31, 40, 45, 0) 100%
    );
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 60px;
  }
  .links-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -10px 200px;
    width: 100%;
    max-width: 1020px;
  }
  .link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius: 6px;
    background: linear-gradient(
      29deg,
      #080809 0%,
      #080809 0%,
      #1f282d 100%,
      #1f282d 100%
    );
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3490196078);
    padding: 15px;
    &:hover {
      cursor: pointer;
      padding: 14px;
      border: 1px solid #eaaf00;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.0666666667);
    }
  }
  .link-icon {
    font-size: 40px;
    color: #5d6163;
    flex: 1;
    display: inline-flex;
    align-items: center;
  }
  .link-name {
    font-size: 16px;
    color: #e4e4e4;
    text-transform: uppercase;
    line-height: 22px;
    text-align: center;
    min-height: 44px;
    font-weight: 400;
  }
  .close-button {
    position: absolute;
    top: 26px;
    right: 26px;
    font-size: 34px;
    color: #61676b;
    cursor: pointer;
  }
}

.language-dropdown {
  > span {
    color: rgba(255, 255, 255, 0.3);
    &:hover {
      color: rgba(51, 255, 255, 0.7);
    }
  }
}

.top-nav-bar {
  > span {
    color: rgba(255, 255, 255, 0.9);
    &:hover {
      color: rgba(51, 255, 255, 0.7);
    }
  }
}

.language-menu {
  background: #000000;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.07);
  & > .language-item {
    color: #ffffff;
    &.language-selected {
      color: #00d3b8;
    }
    &:hover {
      color: #ffffff;
      background-color: rgba(51, 255, 255, 0.7);
    }
  }
}
