.tv-widget-wrap {
  pointer-events: none;
}

.tv-widget {
  cursor: move;
  border: 1px solid #202020;
  border-radius: 4px;

  &.ant-modal {
    padding-bottom: 0;
  }

  .ant-modal-content {
    background: none;
  }

  .ant-modal-header {
    padding: 16px 16px 13px 16px;
    background: #252526;
    border-bottom: none;

    .ant-modal-title {
      color: #fff;
      font-size: 14px;
      line-height: normal;
      font-weight: 400;
    }
  }

  .ant-modal-close {
    color: #ccc;

    .ant-modal-close-x {
      width: 48px;
      height: 44px;
      line-height: 50px;
      font-size: 22px;
    }

    &:hover {
      color: #ccc;
    }
  }

  .ant-modal-body,
  .ant-modal-footer {
    padding: 0;
    border-top: none;
  }

  .ant-modal-footer {
    overflow: hidden;
  }

  .am-tabs-default-bar-top .am-tabs-default-bar-tab {
    padding: 0;
    border-bottom: none;
  }

  .am-tabs-default-bar-tab {
    font-size: 12px;
    line-height: normal;
    font-weight: 400;
    height: 20px;
    color: rgba(255, 255, 255, 0.2);
    background-color: rgba(40, 48, 52, 0.6);
    border-right: 1px solid #252526;
    border-left: 1px solid #252526;

    &:active {
      background-color: #fff;
    }

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  .am-tabs-default-bar-tab-active {
    color: #fff;
    background-color: rgb(40, 48, 52);
    border-right: none;
    border-left: none;
  }

  .am-tabs-default-bar-underline {
    display: none;
  }
}

.tv-widget-content {
  background: #252526;
  line-height: normal;
  color: white;

  .player-wrap {
    height: 165px;
    margin-top: 3px;
    cursor: auto;
  }

  .video-title {
    padding: 9px 16px;
    font-weight: 400;
    color: #33ccff;
  }

  .playlist {
    max-height: 298px;
    overflow-y: auto;
    transition: max-height 0.5s;

    .controls {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      font-size: 10px;

      .autoplay {
        color: #878787;

        button {
          margin-left: 6px;
        }

        :global {
          .ant-switch {
            height: 10px;
            background-color: #3e4140;

            &:after {
              top: -3px;
              background: #41a9ff;
            }
          }

          .ant-switch-small {
            &:after {
              width: 14px;
              height: 14px;
            }
          }

          .ant-switch-checked {
            background-color: #3e4140;
          }
        }
      }
    }

    .playlist-item {
      margin-bottom: 20px;
      display: flex;
      padding: 0 16px;
      justify-content: space-between;
      font-size: 13px;
      font-weight: 400;

      .title {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.698039215686274);
      }

      .viewsCount {
        font-family: ArialMT, Arial;
        color: rgba(255, 255, 255, 0.298039215686275);
      }

      .thumbnail {
        margin-left: 5px;
        width: 107px;
        min-width: 107px;
        height: 60px;
        position: relative;

        img {
          width: 100%;
        }

        .duration {
          position: absolute;
          right: 2px;
          bottom: 2px;
          font-size: 8px;
          padding: 1px 2px;
          color: #efefef;
          background: #151515;
          opacity: 0.9;
        }
      }
    }

    &.collapsed {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s;
    }
  }
}

.footer {
  height: 26px;
  background: rgba(68, 68, 68, 1);
  cursor: pointer;
  position: relative;

  &:after {
    display: block;
    content: ".";
    font-size: 0;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url(../../../assets/images/icons/icon-top.png) center no-repeat;
  }

  &.collapsed {
    &:after {
      transform: rotate(180deg);
    }
  }
}
