.chart {
  height: 100%;
}
.tv-wrapper {
  height: 100%;
  position: relative;
  .TVChartContainer {
    height: 100%;
    iframe {
      background: #191919;
    }
  }
  .interval-btns {
    position: absolute;
    top: 1px;
    left: 10px;
    height: 38px;
    li {
      margin: 4px 1px;
      padding: 0 8px;
      height: 30px;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      border-radius: 4px;
      background-color: #222222;
      cursor: pointer;
    }
  }
}
