@import "../../../../style";

.spot-balances {
  .spot-header {
    display: flex;

    section {
      &:first-child {
        flex: 1;
        .title {
          font-weight: 500;
          margin-bottom: $pt-grid-size;
        }

        .total-value {
          font-size: 28px;
          font-weight: 500;
          color: $pt-dark-text-color-muted;
          margin-bottom: $block-margin;

          .currency {
            font-weight: 200;
            color: $pt-dark-text-color-muted2;
            margin-left: 0.4em;
          }
        }
      }
      &:last-child {
        .info {
          margin-bottom: $pt-grid-size;
        }
        button {
          float: right;
        }
      }
    }
  }

  .balances-table-wrapper {
    height: 314px;
    overflow: auto;

    .balances-table {
      width: 100%;

      .coin-balance {
        text-align: right;
      }

      .title {
        font-weight: 500;
      }

      .row-total {
        text-align: right;
        font-weight: normal;
        color: $gray4;
      }

      .total {
        text-align: right;
        font-weight: 500;
      }

      .usdt {
        text-align: right;
      }

      td.actions {
        text-align: right;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
        white-space: nowrap;

        button {
          min-width: 80px;
          margin-left: 8px;
          &.transfer-action {
            box-shadow: 0 0 2px #879ba6;
            background: transparent;
            color: #879ba6;
            &:hover {
              opacity: 0.7;
            }
            &:active {
              opacity: 1;
            }
          }
        }
      }

      th.actions {
        text-align: right;
        color: $pt-dark-text-color-muted2;
      }

      tfoot {
        td {
          color: $pt-intent-primary;
          font-weight: 500;
        }
      }
    }
  }
}

.sort-icon {
  cursor: pointer;
  margin-left: 5px;
  :hover {
    color: $pt-intent-primary;
  }
}
