.blotter {
  height: 100%;
  .blotter-radio {
    .ant-radio-button-wrapper {
      background: none;
      height: 48px;
      line-height: 48px;
      border: none;
      color: rgba(255, 255, 255, 0.3);
      font-weight: 400;
      box-shadow: none;
      border-radius: 0;
      &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        background: #252526;
        color: #4c8cb8;
        outline: none;
        &:hover {
          box-shadow: none;
        }
      }

      &:before {
        width: 0;
      }
    }
  }
}
