.take-profit {
  .title {
    .text {
      line-height: 18px;
      font-size: 14px;
      font-weight: 400;
      color: #5e5e5e;
      &.open {
        color: #81afb2;
      }
    }
    .am-switch .checkbox {
      height: 18px;
      width: 32px;
      background: #505a5b;
      box-shadow: 0 0 8px 5px rgba(129, 175, 178, 0.2);
      &:before {
        left: 2px;
        top: 2px;
        background: #19191a;
        width: 28px;
        height: 14px;
        box-shadow: 0 0 8px 5px rgba(129, 175, 178, 0.2) inset;
      }
      &:after {
        top: 0px;
        left: 0px;
        width: 18px;
        height: 18px;
        border: 2px solid #505a5b;
        background: #19191a;
        box-shadow: 0 0 5px 4px rgba(129, 175, 178, 0.2) inset;
      }
    }
    .am-switch input[type="checkbox"]:checked + .checkbox {
      box-shadow: 0 0 8px 5px rgba(129, 175, 178, 0.35);
      &:after {
        transform: translateX(14px);
        border-color: rgb(129, 175, 178);
        box-shadow: 0 0 5px 4px rgba(129, 175, 178, 0.35) inset;
      }
    }
  }
  .pnl-content {
    margin-top: 14px;
    .form {
      .title {
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;
      }
      .result {
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.7);
      }
      .pnl-result {
        opacity: 0.4;
        text-align: right;
      }
    }
    &.pnl-content-profit {
      .title {
        color: #00d3b8;
      }
    }
    .ant-input {
      background: none;
      box-shadow: none;
      outline: none;
      border: none;
      border-radius: 0;
      font-size: 16px;
      color: #ffffff;
      height: 32px;
      line-height: 32px;
      padding: 0;
    }
    .ant-calendar-picker-icon {
      font-size: 22px;
      color: #66cbfe;
      margin-top: -13px;
    }
  }
  .footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #263239;
    .ant-btn-primary {
      width: 100%;
      height: 48px;
      line-height: 48px;
      background-color: #00d3b8;
    }
  }
}

.profit-modal {
  .ant-modal-content {
    background: #191919;
  }
  .ant-modal-header {
    padding: 15px;
    background: #252526;
    border-bottom-color: #263239;
    .ant-modal-title {
      color: #ffffff;
      font-size: 14px;
    }
  }
  .ant-modal-close {
    color: rgba(255, 255, 255, 0.3);
    &:hover {
      color: #ffffff;
    }
    .ant-modal-close-x {
      width: 53px;
      height: 53px;
      line-height: 53px;
      font-size: 19px;
    }
  }
  .ant-modal-body {
    padding: 15px;
  }
  .ant-modal-footer {
    border-top-color: #263239;
  }
}
