$blue: #00ccff;

.leverage-sliders {
  padding: 16px;
  border: solid rgba(38, 50, 57, 1);
  border-width: 1px 0 1px 0;
  overflow: hidden;

  .title {
    font-size: 14px;
    font-weight: 400;
    color: #81afb2;
    display: flex;
    justify-content: space-between;
  }

  .am-switch {
    .checkbox {
      height: 18px;
      width: 32px;
      background: #505a5b;
      box-shadow: 0 0 8px 5px rgba(129, 175, 178, 0.2);

      &:before {
        left: 2px;
        top: 2px;
        background: #19191a;
        width: 28px;
        height: 14px;
        box-shadow: 0 0 8px 5px rgba(129, 175, 178, 0.2) inset;
      }

      &:after {
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        border: 2px solid #505a5b;
        background: #19191a;
        box-shadow: 0 0 5px 4px rgba(129, 175, 178, 0.2) inset;
      }
    }

    &:hover {
      box-shadow: 0 0 8px 5px rgba(0, 211, 184, 0.2);
      border-radius: 10px;
    }
  }

  .am-switch input[type="checkbox"] {
    cursor: pointer;

    &:checked + .checkbox {
      box-shadow: 0 0 8px 5px rgba(129, 175, 178, 0.35);

      &:after {
        transform: translateX(14px);
        border-color: rgb(129, 175, 178);
        box-shadow: 0 0 5px 4px rgba(129, 175, 178, 0.35) inset;
      }
    }
  }

  .fields {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;

    &.titles {
      font-size: 12px;
      padding: 15px 0 13px 0;
      color: rgba(255, 255, 255, 0.6);
    }

    > div {
      width: 40%;

      &:last-child {
        text-align: right;
      }
    }

    .ant-input {
      background: none;
      box-shadow: none;
      outline: none;
      border: none;
      border-radius: 0;
      font-size: 16px;
      color: #ffffff;
      height: 32px;
      line-height: 32px;
      padding: 0;
      border-bottom: 1px solid white;
    }

    .max {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .leverage-slider {
    padding: 8px 0;

    .ant-slider {
      margin: 22px 0 20px 0;
    }

    .ant-slider-rail {
      background: linear-gradient(
        160deg,
        rgba(0, 255, 255, 1) 0%,
        rgba(0, 255, 255, 1) 26%,
        rgba(255, 35, 102, 1) 100%,
        rgba(255, 35, 102, 1) 100%
      );
      border-radius: 2px;

      &:after {
        display: block;
        position: absolute;
        border-radius: 2px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        content: ".";
        font-size: 0;
      }
    }

    .ant-slider-track {
      background: rgba(0, 255, 255, 1);
    }

    .ant-slider-handle {
      width: 12px;
      height: 24px;
      margin-top: -10px;
      border-radius: 6px;
      border: none;
      background: rgba(0, 255, 255, 0.4);

      &:focus {
        box-shadow: none;
      }

      &:after {
        display: block;
        position: absolute;
        border-radius: 2px;
        top: 4px;
        right: 3px;
        bottom: 4px;
        left: 3px;
        background: transparent;
        content: ".";
        font-size: 0;
      }
    }

    .ant-tooltip-content {
      .ant-tooltip-arrow:before {
        display: none;
      }

      .ant-tooltip-inner {
        margin-top: -10px;
        background: transparent;
        padding: 0;
        box-shadow: none;
        color: rgba(255, 255, 255, 0.3);
        font-size: 12px;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .repay-all {
    border-radius: 5px;
    border: 1px solid;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    background: transparent;
    &:before {
      border: none;
    }
    &:hover {
      color: #ffffff;
      border-color: $blue;
      background: $blue;
    }
  }

  .lock-checkbox {
    font-size: 12px;
    font-weight: 400;
    height: 24px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.3);

    .ant-checkbox {
      float: right;
      margin-left: 24px;

      & + span {
        padding-left: 2px;
      }

      .ant-checkbox-inner {
        width: 24px;
        height: 24px;
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.3);
      }

      &:before {
        display: block;
        position: absolute;
        left: -24px;
        top: 4px;
        content: ".";
        font-size: 0;
        width: 14px;
        height: 16px;
        background: url(../../../../assets/icons/lock.svg) center no-repeat;
      }

      &.ant-checkbox-checked {
        .ant-checkbox-inner {
          &:after {
            display: block;
            width: 16px;
            height: 16px;
            left: 3px;
            top: 3px;
            border-radius: 2px;
            background: #00ccff;
            transform: none;
            border: none;
          }
        }
      }
    }

    &:hover {
      color: #00d3b8;

      .ant-checkbox {
        + span {
          text-decoration: underline;
        }

        &.ant-checkbox-checked {
          .ant-checkbox-inner {
            &:after {
              border-color: transparent;
            }
          }

          &:after {
            border-color: #00d3b8;
          }
        }
      }
    }
  }
}
