.from-to-label-container {
  display: flex;
  flex-direction: row;
  .label-tag {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;

    label {
      color: #879ba6;
      margin-bottom: 10px;
    }
    .bp3-tag {
      background: rgba(120, 0, 215, 0.6);
      color: white;
      padding: 16px;
      font-weight: 500;
      font-size: large;
    }
  }
  .bp3-icon {
    width: 50px;
    display: flex;
    svg {
      width: 100%;
      align-self: center;
    }
  }
}
