.login {
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.93);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  .title {
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
  }
  .login-form {
    padding: 18px 30px;
    .ant-form-item {
      margin-bottom: 0;
      p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 255, 200, 0.8);
        line-height: 1;
        padding-top: 36px;
        padding-bottom: 20px;
      }
      .ant-input {
        font-size: 16px;
        margin-top: 22px;
        background: none;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 0;
        padding: 0;
        color: #ffffff;
        &:focus {
          box-shadow: none;
        }
      }
      .has-error .ant-input:not([disabled]) {
        border-color: #f5222d;
      }
      &.form-btns {
        text-align: center;
        margin-top: 30px;
        .ant-btn-primary {
          width: 100%;
          height: 48px;
          background-color: rgba(51, 255, 255, 0.7);
          color: #ffffff;
          font-size: 16px;
        }
        .ant-btn-link {
          width: 100%;
          height: 48px;
          border: 1px solid rgba(0, 211, 184, 1);
          color: rgba(0, 255, 200, 0.8);
          font-size: 16px;
          &:hover {
            background-color: rgba(0, 211, 184, 1);
            color: #ffffff;
          }
        }
      }
    }
  }
}

.login-tip-modal {
  .ant-modal-content {
    background: #191919;
  }
  .ant-modal-header {
    padding: 15px;
    background: #252526;
    border-bottom-color: #263239;
    .ant-modal-title {
      color: #ffffff;
      font-size: 14px;
    }
  }
  .ant-modal-close {
    color: rgba(255, 255, 255, 0.3);
    &:hover {
      color: #ffffff;
    }
    .ant-modal-close-x {
      width: 53px;
      height: 53px;
      line-height: 53px;
      font-size: 19px;
    }
  }
  .ant-modal-body {
    padding: 15px;
  }
  .ant-modal-footer {
    border-top-color: #263239;
  }
  .tip-content {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 13px;
    a {
      color: rgb(0, 127, 211);
      font-weight: 500;
      text-decoration: underline;
    }
    p {
      padding: 8px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      margin: 5px 0;
    }
  }
}
