@import "../../../style";

.page-footer {
  // margin-right: -32px;
  // margin-left: -32px;
  flex: 1;
  padding: 32px;
  font-size: 12px;
  font-weight: 400;
  max-width: 1400px;
  color: $white;

  @media screen and (min-width: 1920px) {
    max-width: 1700px;
  }
  .logo {
    height: 30px;
    margin-bottom: 9px;
  }

  .copyright {
    color: $dark-slider-handle-color;
    margin-top: 8px;
    margin-bottom: 20px;
  }

  .coinflex-link {
    font-size: 14px;
    color: $white;
  }

  .social-links {
    display: flex;
    margin-top: 30px;

    > a {
      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      margin-right: 11px;

      > img {
        max-height: 24px;
        display: block;
      }

      &.telegram {
        > img {
          max-width: 25px;
        }
      }

      &.twitter {
        > img {
          max-width: 24px;
        }
      }
    }
  }
}
