.order-book {
  height: 100%;
  .header {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    background: #262626;
    border-bottom: 1px solid #080808;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-btn.ant-btn-ghost.ant-btn-circle.ant-btn-lg {
      width: 42px;
      height: 42px;
      line-height: 44px;
      min-width: 42px;
      color: rgba(255, 255, 255, 0.3);
      border: none;
      font-size: 20px;

      svg * {
        fill: rgba(255, 255, 255, 0.3);
      }

      &:hover {
        color: #33ccff;
        background: #295867;

        svg * {
          fill: #33ccff;
        }
      }
    }
  }
  .list-head {
    height: 32px;
    line-height: 32px;
    width: 100%;
    background: #252526;
    li {
      font-size: 12px;
      font-weight: 400;
      white-space: nowrap;
      text-align: right;
      &:first-child {
        flex: 0 0 28%;
      }
      &:nth-child(2) {
        flex: 0 0 36%;
      }
      &:nth-child(3) {
        flex: 0 0 32%;
      }
      span {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  .order-book-wrapper {
    position: relative;
    height: calc(100% - 80px);
    overflow: hidden;
    .order-book-position {
      position: relative;
      height: 100%;
    }
    .last-price {
      position: absolute;
      width: 100%;
      top: calc(50% - 24px);
      height: 48px;

      font-weight: 400;
      .direction {
      }
      &.up {
      }
      &.down {
      }
      .price {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.7);
      }
      label {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.3);
        margin-left: 10px;
      }
    }
  }
}

.order-book-list {
  position: absolute;
  display: flex;
  width: 100%;
  overflow: scroll;
  max-height: calc(50% - 24px);
  height: calc(50% - 24px);
  flex-direction: column;
  .list-item {
    position: relative;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    width: 100%;

    span {
      position: relative;
      z-index: 2;
    }
    .price {
      flex: 0 0 28%;
    }
    .amount {
      flex: 0 0 36%;
      color: rgba(255, 255, 255, 0.7);
    }
    .total {
      flex: 0 0 32%;
      color: rgba(255, 255, 255, 0.3);
    }
    .depth {
      display: block;
      right: 0;
      top: 0;
      position: absolute;
      height: 32px;
      transition: all 0.2s;
    }
  }
  &.ask-list {
    top: 0;
    .list-item:first-child {
      margin-top: auto !important;
    }
    .price {
      color: #ff2366;
    }
    .list-item:hover {
      background: rgba(139, 30, 64, 0.5) !important;
      .depth {
        background: none !important;
      }
    }
    .depth {
      background: -webkit-linear-gradient(
        left,
        rgba(139, 30, 64, 0),
        50%,
        rgba(139, 30, 64, 1)
      );
      background: -o-linear-gradient(
        right,
        rgba(139, 30, 64, 0),
        50%,
        rgba(139, 30, 64, 1)
      );
      background: -moz-linear-gradient(
        right,
        rgba(139, 30, 64, 0),
        50%,
        rgba(139, 30, 64, 1)
      );
      background: linear-gradient(
        to right,
        rgba(139, 30, 64, 0),
        50%,
        rgba(139, 30, 64, 1)
      );
    }
  }
  &.bid-list {
    bottom: 0;
    justify-content: flex-start;
    .price {
      color: #00d3b8;
    }
    .list-item:hover {
      background: rgba(13, 117, 104, 0.5) !important;
      .depth {
        background: none !important;
      }
    }
    .depth {
      background: -webkit-linear-gradient(
        left,
        rgba(13, 117, 104, 0),
        50%,
        rgba(13, 117, 104, 1)
      );
      background: -o-linear-gradient(
        right,
        rgba(13, 117, 104, 0),
        50%,
        rgba(13, 117, 104, 1)
      );
      background: -moz-linear-gradient(
        right,
        rgba(13, 117, 104, 0),
        50%,
        rgba(13, 117, 104, 1)
      );
      background: linear-gradient(
        to right,
        rgba(13, 117, 104, 0),
        50%,
        rgba(13, 117, 104, 1)
      );
    }
  }
}
