@import "../../../style/index";

.one-click-leverage-wrapper {
  &:hover {
    border: 1px solid white;
  }
  &:focus {
    border: 1px solid white;
    outline: none;
  }
  margin-bottom: 35px !important;
  .bp3-card-content {
    margin-bottom: -40px;
  }

  .title {
    font-weight: 500;
    margin-bottom: 11px;
    text-align: left;
  }

  .total-value {
    text-align: right;
    font-size: 28px;
    font-weight: 500;
    color: #cccccc;
    margin-bottom: $block-margin;

    .currency {
      font-weight: 200;
      color: rgba(135, 155, 166, 0.3);
      margin-left: 0.4em;
    }
  }

  .bp3-card-header {
    .bp3-card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media screen and (max-width: 1280px) {
        font-size: 14px;
      }

      .yellow {
        color: #dc9847;
      }
      .white {
        color: #fff;
      }
    }
  }

  .one-click-leverage {
    width: 100%;
    position: relative;
    margin-bottom: 31px;

    .one-click-leverage-table {
      width: 100%;

      thead tr {
        th {
          padding: 15px 15px;
          &:first-child {
            padding-left: 0;
          }

          &.balance {
            text-align: right;
          }
        }
      }

      tbody tr {
        height: 44px;

        td {
          padding: 0 8px;
        }
      }

      .title {
        width: 80px;
        font-weight: 500;
      }

      .deposit {
        button {
          margin-top: 6px;
        }
      }

      .month-selector {
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 160px;

        .bp3-popover-target {
          width: 120px;
          margin-top: 6px;

          .bp3-button {
            width: 100%;
          }
        }
      }

      .primary {
        line-height: 44px;
      }

      .total {
        text-align: right;
        line-height: 44px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        color: $pt-dark-text-color-muted;

        .currency {
          color: $pt-dark-text-color-muted4;
        }
      }

      .actions {
        text-align: right;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
        white-space: nowrap;

        button:first-child {
          min-width: 80px;
          margin-right: 8px;
        }
      }
    }

    .footer-button {
      position: absolute;
      cursor: pointer;
      bottom: -51px;
      width: 38px;
      height: 38px;
      border-radius: 38px;
      left: 50%;
      margin-left: -16px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.05);
      box-sizing: border-box;
      color: #333333;
      line-height: normal;

      .bp3-icon {
        color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .one-click-leverage-table-open {
    margin-bottom: 66px;
  }
}
